# 3. Data preprocessing

Feature engineering can be really helpful for data science projects by allowing the extraction/selection of the most relevant and important variables for a use case. Optimizing feature selection based on your downstream application is important to expective the expected results of AI developed solutions.

In what concerns this customer churn use case, there is a lot of potential around location based columns and the available target information.

### Import needed packages

In [1]:
!pip install pandas-profiling==3.5.0

Collecting pandas-profiling==3.5.0
  Downloading pandas_profiling-3.5.0-py2.py3-none-any.whl (325 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 325.0/325.0 kB 10.1 MB/s eta 0:00:00
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (1.2.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (2.25.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (5.4.1)
Requirement already satisfied: matplotlib<3.7,>=3.2 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (3.5.3)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (0.13.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (3.0.3)
Requirement already satisfied: htmlmin==0.1.12 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (0.1.12)
Requirement already satisfied: scipy<1.10,>=1.4.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (1.6.0)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (1.21.2)
Requirement already satisfied: phik<0.13,>=0.11.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (0.12.2)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (0.11.2)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (2.13.2)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (4.64.1)
Requirement already satisfied: multimethod<1.10,>=1.4 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (1.9)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (1.9.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /opt/conda/lib/python3.8/site-packages (from pandas-profiling==3.5.0) (0.7.5)
Requirement already satisfied: networkx>=2.4 in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.5.0) (2.8.4)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.5.0) (0.2.0)
Requirement already satisfied: attrs>=19.3.0 in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.5.0) (22.1.0)
Requirement already satisfied: Pillow in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.5.0) (9.3.0)
Requirement already satisfied: imagehash in /opt/conda/lib/python3.8/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling==3.5.0) (4.3.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.8/site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling==3.5.0) (2.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.8/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling==3.5.0) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling==3.5.0) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.8/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling==3.5.0) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling==3.5.0) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling==3.5.0) (4.38.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling==3.5.0) (21.3)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling==3.5.0) (2022.6)
Requirement already satisfied: joblib>=0.14.1 in /opt/conda/lib/python3.8/site-packages (from phik<0.13,>=0.11.1->pandas-profiling==3.5.0) (1.2.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.8/site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling==3.5.0) (4.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.5.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.5.0) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.5.0) (1.26.12)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests<2.29,>=2.24.0->pandas-profiling==3.5.0) (2.10)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.8/site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling==3.5.0) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas-profiling==3.5.0) (1.16.0)
Requirement already satisfied: PyWavelets in /opt/conda/lib/python3.8/site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling==3.5.0) (1.4.1)
Installing collected packages: pandas-profiling
  Attempting uninstall: pandas-profiling
    Found existing installation: pandas-profiling 3.4.0
    Uninstalling pandas-profiling-3.4.0:
      Successfully uninstalled pandas-profiling-3.4.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ydata-profiling 1.12.0 requires pandas-profiling==3.4.0, but you have pandas-profiling 3.5.0 which is incompatible.
Successfully installed pandas-profiling-3.5.0

In [2]:
import os
from pathlib import Path

from workspace.functions.saving_functions import save_file, read_file

from pandas_profiling import ProfileReport

from ydata.labs.datasources import DataSources
from ydata.dataset import Dataset
from ydata.metadata import Metadata

from sklearn.cluster import DBSCAN
import joblib

#### Environment variables

In [3]:
feat_eng = bool(os.environ.get('FEATURE_ENG', "True"))

## Read the dataset & load the metadata

In [4]:
dataset = read_file('dataset.pkl')
metadata = Metadata.load('metadata.pkl')

In [5]:
dataset.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,5340,Competitor had better devices

In [6]:
print(metadata)

Metadata Summary

Dataset type: TABULAR
Dataset attributes:
Number of columns: 32
Duplicate rows: 12
Target column:

Column detail:
               Column    Data type Variable type
0          CustomerID           id        string
1               Count    numerical           int
2             Country  categorical        string
3               State  categorical        string
4                City  categorical        string
5            Zip Code    numerical           int
6            Lat Long  categorical        string
7            Latitude    numerical         float
8           Longitude    numerical         float
9              Gender  categorical        string
10     Senior Citizen  categorical        string
11            Partner  categorical        string
12         Dependents  categorical        string
13             Tenure    numerical           int
14      Phone Service  categorical        string
15     Multiple Lines  categorical        string
16   Internet Service  categorical        string
17    Online Security  categorical        string
18      Online Backup  categorical        string
19  Device Protection  categorical        string
20       Tech Support  categorical        string
21       Streaming TV  categorical        string
22   Streaming Movies  categorical        string
23           Contract  categorical        string
24  Paperless Billing  categorical        string
25     Payment Method  categorical        string
26    Monthly Charges    numerical         float
27      Total Charges    numerical         float
28        Churn Label  categorical        string
29              Churn    numerical           int
30               CLTV    numerical           int
31       Churn Reason     longtext        string

Warnings:
           Warning                                                                                                           Columns
0         skewness                                                                                                           [Churn]
1      cardinality                                                                                                  [City, Lat Long]
2         missings                                                                                                   [Total Charges]
3         constant                                                                                           [Count, Country, State]
4            zeros                                                                                    [Tenure, Total Charges, Churn]
5      correlation  [Zip Code|Latitude, Zip Code|Longitude, Latitude|Longitude, Tenure|Total Charges, Monthly Charges|Total Charges]
6           unique                                                                                       [CustomerID, Total Charges]
7  constant_length                                                                                                  [Country, State]

## Preprocess & Feature Engineering

In [7]:
#Remove any ID columns as they are expected to be unique throughout the whoel dataset
dataset = dataset.drop_columns(metadata.id_vars)

In [8]:
#Clean the dataset based on Metadata
dataset_cols = list(dataset.columns)
if len(metadata.warnings['constant']) > 0:
    const_cols = [warning.column for warning in metadata.warnings['constant']]

dataset = dataset.select_columns(list(set(dataset_cols)-set(const_cols)))

In [9]:
len_dataset = len(dataset)
cardinality_cols = [(warning.details['value']/len_dataset) for warning in metadata.warnings['cardinality']]

In [10]:
#Lat lon is a calculated field which means it can be removed

#Let's have a look into the cities representative distribution
cities_cardinality = dataset.to_dask().groupby('City').count().sort_values(by='Zip Code', ascending=False)[['Zip Code']].compute()

## Explore the city impact with compare profiling

In [11]:
ten_cust = list(cities_cardinality[cities_cardinality['Zip Code'] <=10].reset_index()['City'])
plus10_cust = list(cities_cardinality[cities_cardinality['Zip Code'] >10].reset_index()['City'])

In [12]:
small_cities = dataset._data[dataset._data['City'].isin(ten_cust)].compute()
bigger_cities = dataset._data[dataset._data['City'].isin(plus10_cust)].compute()

In [13]:
biggercities_r = ProfileReport(bigger_cities, title='Cities with +customers')
smallcities_r = ProfileReport(small_cities, title='Cities with less customers')

compare_report = biggercities_r.compare(smallcities_r)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

#### Dropping columns that are not relevant for the use case

In [15]:
## Drop variables related to location as they seem to hold no information
location_var = ['Latitude', 'Longitude', 'Lat Long']

In [16]:
flrt_dataset = dataset.select_columns(list(set(dataset.columns) - set(location_var)))

In [17]:
#create a new column based on wether is Los Angeles or not
flrt_dataset.to_dask()['City'].unique().compute()

0           Los Angeles
1         Beverly Hills
2       Huntington Park
3               Lynwood
4        Marina Del Rey
             ...
1124            Milford
1125            Calpine
1126           Standish
1127           Tulelake
1128     Olympic Valley
Name: City, Length: 1129, dtype: string

In [18]:
flrt_dataset.head()

,City,Gender,Senior Citizen,Partner,Dependents,Tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn,CLTV,Churn Reason
0,Los Angeles,Male,No,No,No,2,Yes,No,DSL,Yes,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,3239,Competitor made better offer
1,Los Angeles,Female,No,No,Yes,2,Yes,No,Fiber optic,No,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,2701,Moved
2,Los Angeles,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,5372,Moved
3,Los Angeles,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,5003,Moved
4,Los Angeles,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,...,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,5340,Competitor had better devices

In [19]:
dd_data = flrt_dataset.to_dask()

In [20]:
dd_city = dd_data.groupby(['City'])[['Monthly Charges','Total Charges']].mean().reset_index()
dd_city.columns = ['City', 'Avg Montly charges per city','Avg Total charges per city']

In [21]:
#Add new columns to extract the city information
dd_data = dd_data.merge(dd_city,on='City',suffixes=('_x', '_y'))

In [22]:
dd_data = dd_data.drop(['City', 'Churn Label'], axis=1)

### Dropping churn reason as it leaks information

In [23]:
dd_data = dd_data.drop('Churn Reason', axis=1)

## Missing values processing

In [24]:
dd_data = dd_data.dropna()

In [25]:
preprocessed_data = Dataset(dd_data)
preprocessed_meta = Metadata(preprocessed_data)

[                                        ] | 0% Completed | 102.91 ms

/opt/conda/lib/python3.8/site-packages/ydata/metadata/metadata.py:143: UserWarning: Datasets other than Timeseries don't make use of dataset_attrs
  warn("Datasets other than Timeseries don't make use of dataset_attrs")

[########################################] | 100% Completed | 316.01 ms
[########################################] | 100% Completed | 1.30 sms

## Save as new datasource

In [26]:
## add here the connector details
from ydata.labs.connectors import Connectors
from ydata.labs import GoogleCloudStorageDataSource, DataType, FileType

conn=Connectors.get('03b55e37-33a0-48a8-b544-032e8a13e766')

In [ ]:
conn.write_file(data=preprocessed_data, 
                path="gs://ydata-academy/customer_churn/preprocessed_data.csv")

In [ ]:
"""
datasource = GoogleCloudStorageDataSource(name='Customer churn - Preprocessed',
                                          connector=conn,
                                          data_type=DataType.TABULAR,
                                          path="gs://ydata-academy/customer_churn/preprocessed_data.csv",
                                          file_type=FileType.CSV,
                                         )
datasource.create()

"""

## Create pipeline outputs

### Saving the artifacts

In [31]:
parameters = {'preprocessed_id': "047396fb-9d95-4d88-914c-23af5ee3d13a"}

In [32]:
metadata = preprocessed_meta.save('proc_metadata.pkl')

#Saving pipeline parameters file
save_file(parameters, file_path='pipeline_parameters.pkl')

In [ ]:
import json

profile_pipeline_output = {
    'outputs' : [
        {
      'type': 'web-app',
      'storage': 'inline',
      'source': compare_report.to_html(),
    }
    ]
  }

with open('mlpipeline-ui-metadata.json', 'w') as metadata_file:
    json.dump(profile_pipeline_output, metadata_file)