# MySQL Connector - Quick Start

The MySQL connector enables you to read/write data within the a MySQL database server with ease and integrate it with YData's platform.
Reading a dataset from a MySQL server directly into a YData's `Dataset` allows its usage for Data Quality, Data Synthetisation and Preprocessing blocks.

The MySQLConnector allows the user to perform the following actions:

*More information*
- **MySQLConnector.get_database_schema** - Validates wether a given blob is available.

*Read & Write data*
- **MySQLConnector.get_table** - Reads the data available within a given schema. Returns a Dataset object.
- **MySQLConnector.query** - Reads the data retrieved by a database query. Returns a Dataset object.
- **MySQLConnector.sample_query** - Reads a sample (sample_size) from the a query retrieved data. Returns a Dataset object.
- **MySQLConnector.read_database** - Reads the full database data.
- **MySQLConnector.write_table** - Writes a Dataset into a new schema table.

This tutorial covers:
- How to read data from MySQLConnector
- How to read data (sample) from MySQLConnector
- How to write data to MySQLConnector

In [7]:
from ydata.connectors import MySQLConnector

In [8]:
USERNAME = '{insert-username}'
PASSWORD = '{insert-password}'
HOSTNAME = '{insert-hostname}'
PORT = '3306'
DATABASE_NAME = '{insert-database-name}'

conn_str = {
    "hostname": f'{HOSTNAME}',
    "username":f'{USERNAME}',
    "password": f'{PASSWORD}',
    "port": f'{PORT}',
    "database": f'{DATABASE_NAME}'
}

conn = MySQLConnector(conn_string=conn_str)

### Get database schema details

For given schema at a AzureSQL server database it is possible to check the `tables` metadata as well as the relations between them.

In [10]:
#Get the details from a selected schema from a MySQL schema/database
schema = conn.get_database_schema()

2022-07-11 21:32:01,131 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `berka`
2022-07-11 21:32:01,133 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,139 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `account`
2022-07-11 21:32:01,140 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,146 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:32:01,147 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'district', 'table_data_1_3': 'a1'}
2022-07-11 21:32:01,151 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `district`
2022-07-11 21:32:01,152 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,161 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `card`
2022-07-11 21:32:01,163 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,168 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:32:01,170 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'disp', 'table_data_1_3': 'disp_id'}
2022-07-11 21:32:01,175 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `disp`
2022-07-11 21:32:01,176 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,202 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s), (%(table_data_2_1)s, %(table_data_2_2)s, %(table_data_2_3)s));

2022-07-11 21:32:01,207 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id', 'table_data_2_1': 'berka', 'table_data_2_2': 'client', 'table_data_2_3': 'client_id'}
2022-07-11 21:32:01,223 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `client`
2022-07-11 21:32:01,224 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,230 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:32:01,233 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'district', 'table_data_1_3': 'a1'}
2022-07-11 21:32:01,239 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `loan`
2022-07-11 21:32:01,241 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,250 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:32:01,252 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id'}
2022-07-11 21:32:01,259 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `order`
2022-07-11 21:32:01,261 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,265 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:32:01,266 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id'}
2022-07-11 21:32:01,271 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `trans`
2022-07-11 21:32:01,273 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:32:01,280 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:32:01,281 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id'}

## Reading the data

AzureSQL server connector allows to consume the data from a table, or get the data from query with the method `get_table` and `query`, respectively.
The method `query_sample` enables the user to extract n rows *sample_size* from a given query results.

The `index_col`argument it is not mandatory, but is highly recommended to be set by the user, for performance reasons. The column set as index should can only be of integer type for proper indexing.

In [16]:
#Reading all records from a table from a schema of the selected database
data_table = conn.get_table(table='{insert-table-name}', index_col='{insert-col-name}')

2022-07-11 21:34:18,868 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `berka`
2022-07-11 21:34:18,870 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:18,875 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `account`
2022-07-11 21:34:18,876 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:18,882 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:34:18,883 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'district', 'table_data_1_3': 'a1'}
2022-07-11 21:34:18,887 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `district`
2022-07-11 21:34:18,888 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:18,894 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `card`
2022-07-11 21:34:18,895 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:18,913 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:34:18,914 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'disp', 'table_data_1_3': 'disp_id'}
2022-07-11 21:34:18,935 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `disp`
2022-07-11 21:34:18,940 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:18,964 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s), (%(table_data_2_1)s, %(table_data_2_2)s, %(table_data_2_3)s));

2022-07-11 21:34:18,966 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id', 'table_data_2_1': 'berka', 'table_data_2_2': 'client', 'table_data_2_3': 'client_id'}
2022-07-11 21:34:18,984 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `client`
2022-07-11 21:34:18,986 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:18,992 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:34:19,005 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'district', 'table_data_1_3': 'a1'}
2022-07-11 21:34:19,013 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `loan`
2022-07-11 21:34:19,016 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:19,020 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:34:19,023 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id'}
2022-07-11 21:34:19,027 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `order`
2022-07-11 21:34:19,028 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:19,033 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:34:19,035 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id'}
2022-07-11 21:34:19,039 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `trans`
2022-07-11 21:34:19,042 INFO sqlalchemy.engine.base.Engine {}
2022-07-11 21:34:19,048 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-07-11 21:34:19,049 INFO sqlalchemy.engine.base.Engine {'table_data_1_1': 'berka', 'table_data_1_2': 'account', 'table_data_1_3': 'account_id'}

In [20]:
#Reading a query from a database
data = conn.query("{insert-query-str}")
data.head(100)

2022-07-11 21:38:42,774 INFO sqlalchemy.engine.base.OptionEngine Select * from berka.account;
2022-07-11 21:38:42,776 INFO sqlalchemy.engine.base.OptionEngine {}

     account_id  district_id         frequency    date
idx
0             1           18  POPLATEK MESICNE  950324
1             2            1  POPLATEK MESICNE  930226
2             3            5  POPLATEK MESICNE  970707
3             4           12  POPLATEK MESICNE  960221
4             5           15  POPLATEK MESICNE  970530
..          ...          ...               ...     ...
95          103           44  POPLATEK MESICNE  960310
96          104           37  POPLATEK MESICNE  930415
97          105           21  POPLATEK MESICNE  970710
98          106           63  POPLATEK MESICNE  941127
99          107           64  POPLATEK MESICNE  931105

[100 rows x 4 columns]

In [21]:
#Reading a sample from a provided query
data_sample = conn.sample_query('{insert-query-str}', sample_size=100)
print(len(data_sample))

2022-07-11 21:39:42,536 INFO sqlalchemy.engine.base.OptionEngine Select * from berka.account ORDER BY RAND() LIMIT 100;
2022-07-11 21:39:42,538 INFO sqlalchemy.engine.base.OptionEngine {}
100

### Reading the whole database
The `read_database` method enable the user to consume the full database into YData's platform. This will create a *MultiDataset* object containing the data from each table as well as the respective schema with variables types and relations hold between the different tables.

In [6]:
database = conn.read_database()

## Writing the data
YData MySQL server connector only enables the user to write the data to a new table to be created by the connector.
If trying to write the information into a an already existing tale, an exception will be raise.

In [ ]:
conn.write_table(data=data_sample,
                 name='{inser-new-table-name}',
                 db_schema='{insert-schema}')