# The Metadata and Constraints

**Metadata** objects are the pilar to leverage YData's package features. The **Metadata** is the object that can be shared between the different features and elements of YData plataform: *profiling*, *synthesizer* and *report*.    
    
- The object helps you extracting the main data from your dataset:
    - The **columns metadata**: Both Variable and Data type (numerical, categorical, etc.)
    - The **data warnings**: Checks for the presence of duplicates, variables with skewness, etc.
    - The **data constraints**: They refer to business rules validation of the data. Constraints are flexible and easy to use. 
    
In this Notebook, we will be showing you features and capabilities of this objects and how to combine them with other pieces from YData's package offer.

The dataset used to explore the Metadata and Constraints can be found win ["Kaggle - Home Loans"](https://www.kaggle.com/code/sazid28/home-loan-prediction/data).

In [1]:
from ydata.labs import DataSources
from ydata.metadata import Metadata

In [2]:
datasource = DataSources.get(uid='{uid}', namespace='{namespace}')
data = datasource.dataset

In [3]:
data.head(100)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,LP001326,Male,No,0,Graduate,<NA>,6782,0.0,NaN,360.0,NaN,Urban,N
96,LP001327,Female,Yes,0,Graduate,No,2484,2302.0,137.0,360.0,1.0,Semiurban,Y
97,LP001333,Male,Yes,0,Graduate,No,1977,997.0,50.0,360.0,1.0,Semiurban,Y
98,LP001334,Male,Yes,0,Not Graduate,No,4188,0.0,115.0,180.0,1.0,Semiurban,Y
99,LP001343,Male,Yes,0,Graduate,No,1759,3541.0,131.0,360.0,1.0,Semiurban,Y

In [4]:
#Extract the Metadata from the Dataset
metadata = Metadata(data)
print(metadata)

[########################################] | 100% Completed | 101.87 ms
[########################################] | 100% Completed | 101.96 ms
[########################################] | 100% Completed | 102.49 ms
[########################################] | 100% Completed | 102.35 ms
[########################################] | 100% Completed | 594.00 ms
Metadata Summary

Dataset type: TABULAR
Dataset attributes:
Number of columns: 13
Duplicate rows: 1
Target column:

Column detail:
               Column    Data type Variable type Characteristics
0             Loan_ID       string        string              id
1              Gender  categorical        string
2             Married  categorical        string
3          Dependents  categorical        string
4           Education  categorical        string
5       Self_Employed  categorical        string
6     ApplicantIncome    numerical           int
7   CoapplicantIncome    numerical         float
8          LoanAmount    numerical         float
9    Loan_Amount_Term  categorical         float
10     Credit_History  categorical         float
11      Property_Area  categorical        string
12        Loan_Status  categorical        string

Warnings:
           Warning                                                                                     Columns
0         skewness                                                        [ApplicantIncome, CoapplicantIncome]
1      cardinality                                                                                   [Loan_ID]
2         missings  [Gender, Married, Dependents, Self_Employed, LoanAmount, Loan_Amount_Term, Credit_History]
3            zeros                                                             [CoapplicantIncome, LoanAmount]
4      correlation                                                                [ApplicantIncome|LoanAmount]
5        imbalance                                              [Gender, Dependents, Education, Self_Employed]
6           unique                                                                                   [Loan_ID]
7  constant_length                                                                      [Loan_ID, Loan_Status]

In [5]:
#print metadata summary
print('\n\033[1mMetadata summary\033[0m')
print(metadata.summary)

Metadata summary
{'nrows': 614, 'cardinality': {'Loan_ID': 614, 'Gender': 2, 'Married': 2, 'Dependents': 4, 'Education': 2, 'Self_Employed': 2, 'ApplicantIncome': 505, 'CoapplicantIncome': 287, 'LoanAmount': 203, 'Loan_Amount_Term': 10, 'Credit_History': 2, 'Property_Area': 3, 'Loan_Status': 2}, 'iscategorical': {'Loan_ID': 614.0, 'Gender': 2.0, 'Married': 2.0, 'Dependents': 4.0, 'Education': 2.0, 'Self_Employed': 2.0, 'ApplicantIncome': 505.0, 'CoapplicantIncome': 287.0, 'LoanAmount': 203.0, 'Loan_Amount_Term': 10.0, 'Credit_History': 2.0, 'Property_Area': 3.0, 'Loan_Status': 2.0}, 'missings': Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64, 'duplicates': 1, 'skewness': {'ApplicantIncome': 6.523526250899358, 'CoapplicantIncome': 7.473216996340462, 'LoanAmount': nan, 'Loan_Amount_Term': nan, 'Credit_History': nan}, 'string_len': {'Loan_ID': {'max': 8, 'min': 8, 'mean': 8.0}, 'Gender': {'max': 6, 'min': 4, 'mean': 4.372712146422629}, 'Married': {'max': 3, 'min': 2, 'mean': 2.65139116202946}, 'Dependents': {'max': 2, 'min': 1, 'mean': 1.0851419031719534}, 'Education': {'max': 12, 'min': 8, 'mean': 8.872964169381108}, 'Self_Employed': {'max': 3, 'min': 2, 'mean': 2.140893470790378}, 'Property_Area': {'max': 9, 'min': 5, 'mean': 6.517915309446254}, 'Loan_Status': {'max': 1, 'min': 1, 'mean': 1.0}}, 'word_count': {'Loan_ID': 1.0, 'Gender': 1.0, 'Married': 1.0, 'Dependents': 1.0, 'Education': 1.218241042345277, 'Self_Employed': 1.0, 'Property_Area': 1.0, 'Loan_Status': 1.0}, 'zeros': {'ApplicantIncome': 0, 'CoapplicantIncome': 273, 'LoanAmount': 22, 'Loan_Amount_Term': 14, 'Credit_History': 139}, 'infinity': {'ApplicantIncome': 0, 'CoapplicantIncome': 0, 'LoanAmount': 0, 'Loan_Amount_Term': 0, 'Credit_History': 0}, 'value_counts': {'Loan_ID': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]), 'Gender': array([489, 112]), 'Married': array([398, 213]), 'Dependents': array([345, 102, 101,  51]), 'Education': array([480, 134]), 'Self_Employed': array([500,  82]), 'ApplicantIncome': array([9, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]), 'Property_Area': array([233, 202, 179]), 'Loan_Status': array([422, 192])}, 'correlation':                     Loan_ID    Gender   Married  Dependents  Education  \
Loan_ID            1.000000  0.000000  0.295408    0.000000   0.090403
Gender             0.000000  1.000000  0.255328    0.125195   0.088865
Married            0.295408  0.255328  1.000000    0.392488   0.022215
Dependents         0.000000  0.125195  0.392488    1.000000   0.045630
Education          0.090403  0.088865  0.022215    0.045630   1.000000
Self_Employed      0.096714  0.027299  0.000000    0.000000   0.000000
ApplicantIncome    0.013830  0.029856  0.010643    0.033938   0.212465
CoapplicantIncome  0.000000  0.131643  0.158981    0.026579   0.136874
LoanAmount         0.147054  0.134478  0.197589    0.104952   0.205798
Loan_Amount_Term   0.066598  0.000000  0.134750    0.119712   0.088458
Credit_History     0.000000  0.000000  0.000000    0.000000   0.000000
Property_Area      0.044831  0.101271  0.000000    0.036578   0.026782
Loan_Status        0.000000  0.000000  0.048538    0.021801   0.064164

                   Self_Employed  ApplicantIncome  CoapplicantIncome  \
Loan_ID                 0.096714         0.013830           0.000000
Gender                  0.027299         0.029856           0.131643
Married                 0.000000         0.010643           0.158981
Dependents              0.000000         0.033938           0.026579
Education               0.000000         0.212465           0.136874
Self_Employed           1.000000         0.159114           0.063216
ApplicantIncome         0.159114         1.000000          -0.319570
CoapplicantIncome       0.063216        -0.319570           1.000000
LoanAmount              0.046692         0.510598           0.243878
Loan_Amount_Term        0.000000        -0.039467          -0.015253
Credit_History          0.071737         0.039084          -0.010718
Property_Area           0.000000         0.080111           0.072515
Loan_Status             0.027350         0.017834           0.000000

                   LoanAmount  Loan_Amount_Term  Credit_History  \
Loan_ID              0.147054          0.066598        0.000000
Gender               0.134478          0.000000        0.000000
Married              0.197589          0.134750        0.000000
Dependents           0.104952          0.119712        0.000000
Education            0.205798          0.088458        0.000000
Self_Employed        0.046692          0.000000        0.071737
ApplicantIncome      0.510598         -0.039467        0.039084
CoapplicantIncome    0.243878         -0.015253       -0.010718
LoanAmount           1.000000          0.041322       -0.003839
Loan_Amount_Term     0.041322          1.000000        0.014000
Credit_History      -0.003839          0.014000        1.000000
Property_Area        0.129505          0.032837        0.000000
Loan_Status          0.095979          0.063925        0.034612

                   Property_Area  Loan_Status
Loan_ID                 0.044831     0.000000
Gender                  0.101271     0.000000
Married                 0.000000     0.048538
Dependents              0.036578     0.021801
Education               0.026782     0.064164
Self_Employed           0.000000     0.027350
ApplicantIncome         0.080111     0.017834
CoapplicantIncome       0.072515     0.000000
LoanAmount              0.129505     0.095979
Loan_Amount_Term        0.032837     0.063925
Credit_History          0.000000     0.034612
Property_Area           1.000000     0.120067
Loan_Status             0.120067     1.000000  , 'characteristics': {'Loan_ID': [{'characteristic': <ColumnCharacteristic.ID: 'id'>, 'value': 1, 'upper_bound': 1, 'lower_bound': 1}]}, 'constraints': {}, 'imbalance': {'Loan_ID': -2.220446049250313e-16, 'Gender': 0.30621389672990273, 'Married': 0.06718051051592788, 'Dependents': 0.18551390978605653, 'Education': 0.2430573328275899, 'Self_Employed': 0.41342604319090237, 'Property_Area': 0.005300072717494886, 'Loan_Status': 0.10373033015570687}}

In [6]:
## Setting the target variable
metadata.target='Loan_Status'

In [7]:
print(metadata.target.name)

Loan_Status

### Updating columns datatypes
The automated inferences might not be totally correct in all the cases. For that reason, we always recommend to update the datatypes accordingly to the user understanding of the data. 

The update can be done by column or for a group of columns.

The code snippet below shows how to change the datatypes.

In [8]:
#Getting the all metadata summary
print('\n\033[1mChanging one column data type\033[0m')
metadata.update_datatypes({'Dependents': 'categorical'})
print(f"'Dependents': {metadata.columns['Dependents'].datatype.name}")

Changing one column data type
'Dependents': CATEGORICAL

### Filtering metadata by columns
For some activities the full metadata might not be needed and only a portion of the calls shall be considered for a certain activity (eg. data synthesis). The Metadata object allows the users to select only the needed columns, as per the example below.

In [9]:
filtered_metadata = metadata[['encounter_id', 'Married', 'acarbose', 'Dependents', 'Property_Area']]

print('\n\033[1mNew avaialble metadata\033[0m')
print(filtered_metadata)

New avaialble metadata
Metadata Summary

Dataset type: TABULAR
Dataset attributes:
Number of columns: 3
Duplicate rows: 1
Target column:

Column detail:
          Column    Data type Variable type Characteristics
0        Married  categorical        string
1     Dependents  categorical        string
2  Property_Area  categorical        string

Warnings:
     Warning                Columns
0   missings  [Married, Dependents]
1  imbalance           [Dependents]

## Metadata & Constrains 
The constrains engine allows the user to define a certain level of expectations and validations for a certain dataset. This engine is helpfull to identify potential inconsistencies and descrepencies between records and business rules or logic. 
They can also be leverage to keep expectations and validations while building an data engineering/preprocessing flow.

Constraints can be built as complex as needed. Following this tutorial provides a few **Constraints** examples - from default (`Positive`, `GreaterThan`) to customer.

In [10]:
from ydata.constraints.engine import ConstraintEngine
from ydata.constraints.rows import GreaterThan, Positive, CustomConstraint

In [11]:
c1 = GreaterThan(columns=['CoapplicantIncome', 'LoanAmount'], value=0)
c2 = Positive(columns=['CoapplicantIncome'])

ce = ConstraintEngine()
ce.add_constraints([c1, c2])
ce.validate(data)

sample size: 10538
sample size: 10538

In [12]:
ce.summary()

{'rows_violation_count': 283,
 'rows_violation_ratio': 0.4609120521172638,
 'violation_per_constraint': {"GreaterThan(columns=['CoapplicantIncome', 'LoanAmount'], value=0)": {'rows_violation_count': 283,
   'rows_violation_ratio': 0.4609120521172638,
   'validation_time': 0.03},
  "Positive(columns=['CoapplicantIncome'])": {'rows_violation_count': 273,
   'rows_violation_ratio': 0.44462540716612375,
   'validation_time': 0.02}}}

### Constrains integration with Metadata
Constraints Engine can be easily integrated with your Metadata object and downstream application such as YData synthesizers. The below example show case how to add a constraint engine and leverage it to profile the data.

In [13]:
const_metadata = Metadata(data, constraints=[c1, c2])

[########################################] | 100% Completed | 101.47 ms
[########################################] | 100% Completed | 102.54 ms
[########################################] | 100% Completed | 104.66 ms
[########################################] | 100% Completed | 102.43 ms
[########################################] | 100% Completed | 535.00 ms
sample size: 10538
[########################################] | 100% Completed | 102.20 ms
sample size: 10538
[########################################] | 100% Completed | 102.26 ms

In [14]:
const_metadata.summary['constraints']

{'rows_violation_count': 283,
 'rows_violation_ratio': 0.4609120521172638,
 'violation_per_constraint': {"GreaterThan(columns=['CoapplicantIncome', 'LoanAmount'], value=0)": {'rows_violation_count': 283,
   'rows_violation_ratio': 0.4609120521172638,
   'validation_time': 0.14},
  "Positive(columns=['CoapplicantIncome'])": {'rows_violation_count': 273,
   'rows_violation_ratio': 0.44462540716612375,
   'validation_time': 0.14}}}