# The Metadata and Constraints

**Metadata** objects are the pilar to leverage [ydata-sdk's](https://pypi.org/project/ydata-sdk/) package features. The **Metadata** is the object that can be shared between the different features and elements of ydata-sdk: *profiling*, *synthesizer* and *report*.    
    
- The object helps you extracting the main data from your dataset:
    - The **columns metadata**: Both Variable and Data type (numerical, categorical, etc.)
    - The **data warnings**: Checks for the presence of duplicates, variables with skewness, etc.
    - The **data constraints**: They refer to business rules validation of the data. Constraints are flexible and easy to use. 
    
In this Notebook, we will be showing you features and capabilities of this objects and how to combine them with other pieces from YData's package offer.

The dataset used to explore the Metadata and Constraints can be found win ["Kaggle - Home Loans"](https://www.kaggle.com/code/sazid28/home-loan-prediction/data).

## Authenticate with your YData account

In [1]:
# Authenticate with your ydata-sdk token - https://dashboard.ydata.ai/
import os

os.environ['YDATA_LICENSE_KEY'] = '{add-your-key}'

## Create your Dataset & Metadata

In [2]:
import pandas as pd
from ydata.dataset import Dataset

df = pd.read_csv('insert-file-path.csv')
dataset = Dataset(df)

In [3]:
dataset.head(100)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
95,LP001499,Female,Yes,3+,Graduate,No,6260,0,110.0,360.0,1.0,Semiurban
96,LP001500,Male,Yes,1,Graduate,No,3333,4200,256.0,360.0,1.0,Urban
97,LP001501,Male,Yes,0,Graduate,No,3500,3250,140.0,360.0,1.0,Semiurban
98,LP001517,Male,Yes,3+,Graduate,No,9719,0,61.0,360.0,1.0,Urban
99,LP001527,Male,Yes,3+,Graduate,No,6835,0,188.0,360.0,NaN,Semiurban

In [4]:
from ydata.metadata import Metadata
#Extract the Metadata from the Dataset
metadata = Metadata(dataset)
print(metadata)

[########################################] | 100% Completed | 107.96 ms
[########################################] | 100% Completed | 105.17 ms
[########################################] | 100% Completed | 104.99 ms
Metadata Summary

Dataset type: TABULAR
Dataset attributes:
Number of columns: 12
Number of rows: 367
Duplicate rows: 1
Target column:

Column detail:
               Column    Data type Variable type Characteristics
0             Loan_ID       string        string
1              Gender  categorical        string
2             Married  categorical        string
3          Dependents  categorical        string
4           Education  categorical        string
5       Self_Employed  categorical        string
6     ApplicantIncome    numerical           int
7   CoapplicantIncome    numerical           int
8          LoanAmount    numerical         float
9    Loan_Amount_Term  categorical         float
10     Credit_History  categorical         float
11      Property_Area  categorical        string

Warnings:
           Warning                                                                            Columns
0         skewness                                   [ApplicantIncome, CoapplicantIncome, LoanAmount]
1      cardinality                                                                          [Loan_ID]
2         missings  [Gender, Dependents, Self_Employed, LoanAmount, Loan_Amount_Term, Credit_History]
3            zeros                                               [ApplicantIncome, CoapplicantIncome]
4        imbalance   [Gender, Dependents, Education, Self_Employed, Loan_Amount_Term, Credit_History]
5           unique                                                                          [Loan_ID]
6  constant_length                                                                          [Loan_ID]

In [5]:
#print metadata summary
print('\n\033[1mMetadata summary\033[0m')
print(metadata.summary)

Metadata summary
{'nrows': 367, 'cardinality': {'Loan_ID': 367, 'Gender': 2, 'Married': 2, 'Dependents': 4, 'Education': 2, 'Self_Employed': 2, 'ApplicantIncome': 314, 'CoapplicantIncome': 194, 'LoanAmount': 144, 'Loan_Amount_Term': 12, 'Credit_History': 2, 'Property_Area': 3}, 'duplicates': 1, 'missings': {'Loan_ID': np.int64(0), 'Gender': np.int64(11), 'Married': np.int64(0), 'Dependents': np.int64(10), 'Education': np.int64(0), 'Self_Employed': np.int64(23), 'ApplicantIncome': np.int64(0), 'CoapplicantIncome': np.int64(0), 'LoanAmount': np.int64(5), 'Loan_Amount_Term': np.int64(6), 'Credit_History': np.int64(29), 'Property_Area': np.int64(0)}, 'skewness': {'ApplicantIncome': np.float64(8.40683417612701), 'CoapplicantIncome': np.float64(4.239936499795931), 'LoanAmount': np.float64(2.214288133774681), 'Loan_Amount_Term': np.float64(-2.6681719962961696), 'Credit_History': np.float64(-1.7147253696648368)}, 'infinity': {'ApplicantIncome': np.int64(0), 'CoapplicantIncome': np.int64(0), 'LoanAmount': np.int64(0), 'Loan_Amount_Term': np.int64(0), 'Credit_History': np.int64(0)}, 'zeros': {'ApplicantIncome': np.int64(2), 'CoapplicantIncome': np.int64(156), 'LoanAmount': np.int64(0), 'Loan_Amount_Term': np.int64(0), 'Credit_History': np.int64(59)}, 'string_len': {'Loan_ID': {'max': np.int64(8), 'min': np.int64(8), 'mean': np.float64(8.0)}, 'Gender': {'max': np.int64(6), 'min': np.int64(4), 'mean': np.float64(4.393258426966292)}, 'Married': {'max': np.int64(3), 'min': np.int64(2), 'mean': np.float64(2.6348773841961854)}, 'Dependents': {'max': np.int64(2), 'min': np.int64(1), 'mean': np.float64(1.112044817927171)}, 'Education': {'max': np.int64(12), 'min': np.int64(8), 'mean': np.float64(8.915531335149863)}, 'Self_Employed': {'max': np.int64(3), 'min': np.int64(2), 'mean': np.float64(2.1075581395348837)}, 'Property_Area': {'max': np.int64(9), 'min': np.int64(5), 'mean': np.float64(6.264305177111717)}}, 'word_count': {'Loan_ID': np.float64(1.0), 'Gender': np.float64(1.0), 'Married': np.float64(1.0), 'Dependents': np.float64(1.0), 'Education': np.float64(1.228882833787466), 'Self_Employed': np.float64(1.0), 'Property_Area': np.float64(1.0)}, 'domains': {'ApplicantIncome': {'min': np.int64(0), 'max': np.int64(72529)}, 'CoapplicantIncome': {'min': np.int64(0), 'max': np.int64(24000)}, 'LoanAmount': {'min': np.float64(28.0), 'max': np.float64(550.0)}, 'Loan_Amount_Term': {'min': np.float64(6.0), 'max': np.float64(480.0)}, 'Credit_History': {'min': np.float64(0.0), 'max': np.float64(1.0)}}, 'value_counts': {'Loan_ID': Loan_ID
LP001015    1
LP001022    1
LP001031    1
LP001035    1
LP001051    1
           ..
LP002971    1
LP002975    1
LP002980    1
LP002986    1
LP002989    1
Name: count, Length: 367, dtype: int64[pyarrow], 'Gender': Gender
Male      286
Female     70
Name: count, dtype: int64[pyarrow], 'Married': Married
Yes    233
No     134
Name: count, dtype: int64[pyarrow], 'Dependents': Dependents
0     200
2      59
1      58
3+     40
Name: count, dtype: int64[pyarrow], 'Education': Education
Graduate        283
Not Graduate     84
Name: count, dtype: int64[pyarrow], 'Self_Employed': Self_Employed
No     307
Yes     37
Name: count, dtype: int64[pyarrow], 'ApplicantIncome': ApplicantIncome
5000     6
3500     6
3333     5
4333     4
7500     4
        ..
3132     1
3125     1
3091     1
3089     1
72529    1
Name: count, Length: 314, dtype: int64, 'CoapplicantIncome': CoapplicantIncome
0        156
2000       3
700        3
750        2
2333       2
        ...
1936       1
1951       1
1963       1
1966       1
24000      1
Name: count, Length: 194, dtype: int64, 'Property_Area': Property_Area
Urban        140
Semiurban    116
Rural        111
Name: count, dtype: int64[pyarrow], 'Loan_Amount_Term': Loan_Amount_Term
360.0    311
180.0     22
480.0      8
300.0      7
240.0      4
84.0       3
6.0        1
12.0       1
36.0       1
60.0       1
120.0      1
350.0      1
Name: count, dtype: int64, 'Credit_History': Credit_History
1.0    279
0.0     59
Name: count, dtype: int64}, 'characteristics': {}, 'imbalance': {'Loan_ID': np.float64(2.220446049250313e-16), 'Gender': np.float64(0.2848649215750826), 'Married': np.float64(0.053146644229781326), 'Dependents': np.float64(0.1613524441481774), 'Education': np.float64(0.22394125733345893), 'Self_Employed': np.float64(0.5074936524401005), 'Property_Area': np.float64(0.004779786182970258), 'Loan_Amount_Term': np.float64(0.739470311831854), 'Credit_History': np.float64(0.33197791848909364)}, 'correlation':                     Loan_ID    Gender   Married  Dependents  Education  \
Loan_ID            1.000000  0.000000  0.000000    0.000000   0.093043
Gender             0.000000  1.000000  0.299190    0.036452   0.000000
Married            0.000000  0.299190  1.000000    0.374795   0.000000
Dependents         0.000000  0.036452  0.374795    1.000000   0.099821
Education          0.093043  0.000000  0.000000    0.099821   1.000000
Self_Employed      0.000000  0.000000  0.000000    0.047929   0.000000
ApplicantIncome    0.000000  0.000000  0.000000    0.066175   0.194349
CoapplicantIncome  0.064625  0.000000  0.192205    0.077599   0.142412
LoanAmount         0.000000  0.128160  0.145875    0.000000   0.139763
Loan_Amount_Term   0.000000  0.000000  0.035098    0.000000   0.000000
Credit_History     0.000000  0.000000  0.048951    0.000000   0.000000
Property_Area      0.000000  0.000000  0.000000    0.000000   0.000000

                   Self_Employed  ApplicantIncome  CoapplicantIncome  \
Loan_ID                 0.000000         0.000000           0.064625
Gender                  0.000000         0.000000           0.000000
Married                 0.000000         0.000000           0.192205
Dependents              0.047929         0.066175           0.077599
Education               0.000000         0.194349           0.142412
Self_Employed           1.000000         0.088419           0.000000
ApplicantIncome         0.088419         1.000000          -0.362364
CoapplicantIncome       0.000000        -0.362364           1.000000
LoanAmount              0.000000         0.400260           0.209055
Loan_Amount_Term        0.000000         0.026880          -0.044965
Credit_History          0.000000         0.162641          -0.055118
Property_Area           0.065879         0.000000           0.102370

                   LoanAmount  Loan_Amount_Term  Credit_History  Property_Area
Loan_ID              0.000000          0.000000        0.000000       0.000000
Gender               0.128160          0.000000        0.000000       0.000000
Married              0.145875          0.035098        0.048951       0.000000
Dependents           0.000000          0.000000        0.000000       0.000000
Education            0.139763          0.000000        0.000000       0.000000
Self_Employed        0.000000          0.000000        0.000000       0.065879
ApplicantIncome      0.400260          0.026880        0.162641       0.000000
CoapplicantIncome    0.209055         -0.044965       -0.055118       0.102370
LoanAmount           1.000000          0.093819       -0.070105       0.000000
Loan_Amount_Term     0.093819          1.000000       -0.091193       0.000000
Credit_History      -0.070105         -0.091193        1.000000       0.000000
Property_Area        0.000000          0.000000        0.000000       1.000000  }

In [7]:
## Setting the target variable
metadata.target='Dependents'

In [8]:
print(metadata.target.name)

Dependents

### Updating columns datatypes
The automated inferences might not be totally correct in all the cases. For that reason, we always recommend to update the datatypes accordingly to the user understanding of the data. 

The update can be done by column or for a group of columns.

The code snippet below shows how to change the datatypes.

In [9]:
#Getting the all metadata summary
print('\n\033[1mChanging one column data type\033[0m')
metadata.update_datatypes({'Dependents': 'categorical'})
print(f"'Dependents': {metadata.columns['Dependents'].datatype.name}")

Changing one column data type
'Dependents': CATEGORICAL

### Filtering metadata by columns
For some activities the full metadata might not be needed and only a portion of the calls shall be considered for a certain activity (eg. data synthesis). The Metadata object allows the users to select only the needed columns, as per the example below.

In [10]:
filtered_metadata = metadata[['encounter_id', 'Married', 'acarbose', 'Dependents', 'Property_Area']]

print('\n\033[1mNew avaialble metadata\033[0m')
print(filtered_metadata)

New avaialble metadata
Metadata Summary

Dataset type: TABULAR
Dataset attributes:
Number of columns: 3
Number of rows: 367
Duplicate rows: 1
Target column:

Column detail:
          Column    Data type Variable type Characteristics
0        Married  categorical        string
1     Dependents  categorical        string
2  Property_Area  categorical        string

Warnings:
     Warning       Columns
0   missings  [Dependents]
1  imbalance  [Dependents]

## Metadata & Constrains 
The constrains engine allows the user to define a certain level of expectations and validations for a certain dataset. This engine is helpfull to identify potential inconsistencies and descrepencies between records and business rules or logic. 
They can also be leverage to keep expectations and validations while building an data engineering/preprocessing flow.

Constraints can be built as complex as needed. Following this tutorial provides a few **Constraints** examples - from default (`Positive`, `GreaterThan`) to customer.

In [11]:
from ydata.constraints.engine import ConstraintEngine
from ydata.constraints.rows import GreaterThan, Positive, CustomConstraint

In [12]:
c1 = GreaterThan(columns=['CoapplicantIncome', 'LoanAmount'], value=0)
c2 = Positive(columns=['CoapplicantIncome'])

ce = ConstraintEngine()
ce.add_constraints([c1, c2])
ce.validate(dataset)

In [13]:
ce.summary()

{'rows_violation_count': np.int64(158),
 'rows_violation_ratio': 0.4305177111716621,
 'violation_per_constraint': {"GreaterThan(columns=['CoapplicantIncome', 'LoanAmount'], value=0)": {'rows_violation_count': np.int64(158),
   'rows_violation_ratio': 0.4305177111716621,
   'validation_time': 0.02},
  "Positive(columns=['CoapplicantIncome'])": {'rows_violation_count': np.int64(156),
   'rows_violation_ratio': 0.4250681198910082,
   'validation_time': 0.02}}}